<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.caker.mall.dal.base.mapper.BaseUserDOMapper">
    <!-- 自动生成,请修改 BASE_USER.xml -->
    <resultMap id="BaseResultMap" type="cc.caker.mall.dal.base.dataobject.BaseUserDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATOR" property="creator" jdbcType="BIGINT" javaType="Long"/>
        <result column="MODIFIER" property="modifier" jdbcType="BIGINT" javaType="Long"/>
        <result column="SEX" property="sex" jdbcType="CHAR" javaType="String"/>
        <result column="UID" property="uid" jdbcType="VARCHAR" javaType="String"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR" javaType="String"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR" javaType="String"/>
        <result column="AVATAR" property="avatar" jdbcType="VARCHAR" javaType="String"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" javaType="String"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" javaType="String"/>
        <result column="LOCATION" property="location" jdbcType="VARCHAR" javaType="String"/>
        <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" javaType="String"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="String"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" javaType="String"/>
        <result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" javaType="String"/>
        <result column="SIGNATURE" property="signature" jdbcType="VARCHAR" javaType="String"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
        <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
    </resultMap>


    <sql id="Base_SF_Column_List">
        sf.ID,sf.CREATOR,sf.MODIFIER,sf.SEX,sf.UID 
        ,sf.EMAIL,sf.PHONE,sf.AVATAR,sf.REMARK,sf.STATUS 
        ,sf.ADDRESS,sf.LOCATION,sf.NICK_NAME,sf.PASSWORD,sf.USER_NAME 
        ,sf.IS_DELETED,sf.SIGNATURE,sf.BIRTHDAY,sf.GMT_CREATE,sf.GMT_MODIFY
    </sql>
    <sql id="Base_Column_List">
        ID,CREATOR,MODIFIER,SEX,UID 
        ,EMAIL,PHONE,AVATAR,REMARK,STATUS 
        ,ADDRESS,LOCATION,NICK_NAME,PASSWORD,USER_NAME 
        ,IS_DELETED,SIGNATURE,BIRTHDAY,GMT_CREATE,GMT_MODIFY
    </sql>


    <!--插入表:base_user  mydalgen自动生成，请勿修改-->
    <insert id="insert">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
            INSERT INTO base_user(
                    ID
                    ,CREATOR
                    ,MODIFIER
                    ,SEX
                    ,UID
                    ,EMAIL
                    ,PHONE
                    ,AVATAR
                    ,REMARK
                    ,STATUS
                    ,ADDRESS
                    ,LOCATION
                    ,NICK_NAME
                    ,PASSWORD
                    ,USER_NAME
                    ,IS_DELETED
                    ,SIGNATURE
                    ,BIRTHDAY
                    ,GMT_CREATE
                    ,GMT_MODIFY
            )VALUES(
                     null
                    , #{creator,jdbcType=BIGINT}
                    , #{modifier,jdbcType=BIGINT}
                    , #{sex,jdbcType=CHAR}
                    , #{uid,jdbcType=VARCHAR}
                    , #{email,jdbcType=VARCHAR}
                    , #{phone,jdbcType=VARCHAR}
                    , #{avatar,jdbcType=VARCHAR}
                    , #{remark,jdbcType=VARCHAR}
                    , #{status,jdbcType=VARCHAR}
                    , #{address,jdbcType=VARCHAR}
                    , #{location,jdbcType=VARCHAR}
                    , #{nickName,jdbcType=VARCHAR}
                    , #{password,jdbcType=VARCHAR}
                    , #{userName,jdbcType=VARCHAR}
                    , 'N'
                    , #{signature,jdbcType=VARCHAR}
                    , #{birthday,jdbcType=TIMESTAMP}
                    , now()
                    , now()
            )
            ]]>
    </insert>

    <!--批量插入表:base_user  mydalgen自动生成，请勿修改-->
    <insert id="insertBatch">
        INSERT INTO base_user(
        ID
        ,CREATOR
        ,MODIFIER
        ,SEX
        ,UID
        ,EMAIL
        ,PHONE
        ,AVATAR
        ,REMARK
        ,STATUS
        ,ADDRESS
        ,LOCATION
        ,NICK_NAME
        ,PASSWORD
        ,USER_NAME
        ,IS_DELETED
        ,SIGNATURE
        ,BIRTHDAY
        ,GMT_CREATE
        ,GMT_MODIFY
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
            null
            , #{item.creator,jdbcType=BIGINT}
            , #{item.modifier,jdbcType=BIGINT}
            , #{item.sex,jdbcType=CHAR}
            , #{item.uid,jdbcType=VARCHAR}
            , #{item.email,jdbcType=VARCHAR}
            , #{item.phone,jdbcType=VARCHAR}
            , #{item.avatar,jdbcType=VARCHAR}
            , #{item.remark,jdbcType=VARCHAR}
            , #{item.status,jdbcType=VARCHAR}
            , #{item.address,jdbcType=VARCHAR}
            , #{item.location,jdbcType=VARCHAR}
            , #{item.nickName,jdbcType=VARCHAR}
            , #{item.password,jdbcType=VARCHAR}
            , #{item.userName,jdbcType=VARCHAR}
            , 'N'
            , #{item.signature,jdbcType=VARCHAR}
            , #{item.birthday,jdbcType=TIMESTAMP}
            , now()
            , now()
            )
        </foreach>
    </insert>

    <!--根据主键删除数据:base_user  mydalgen自动生成，请勿修改-->
    <delete id="deleteById">
        <![CDATA[
        DELETE /*MS-BASE-USER-DELETEBYID*/
        FROM base_user
        WHERE ID = #{id,jdbcType=BIGINT}
        ]]>
    </delete>

    <!--根据主键获取数据:base_user  mydalgen自动生成，请勿修改-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT /*MS-BASE-USER-GETBYID*/
        <include refid="Base_Column_List"/>
        FROM base_user
        WHERE
        <![CDATA[
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <!--根据唯一约束UidName更新表:base_user  mydalgen自动生成，请勿修改-->
    <update id="updateByUidName">
        <![CDATA[
        UPDATE /*MS-BASE-USER-UPDATEBYUIDNAME*/ base_user
        SET MODIFIER   = #{modifier,jdbcType=BIGINT}
          , SEX        = #{sex,jdbcType=CHAR}
          , EMAIL      = #{email,jdbcType=VARCHAR}
          , PHONE      = #{phone,jdbcType=VARCHAR}
          , AVATAR     = #{avatar,jdbcType=VARCHAR}
          , REMARK     = #{remark,jdbcType=VARCHAR}
          , STATUS     = #{status,jdbcType=VARCHAR}
          , ADDRESS    = #{address,jdbcType=VARCHAR}
          , LOCATION   = #{location,jdbcType=VARCHAR}
          , PASSWORD   = #{password,jdbcType=VARCHAR}
          , IS_DELETED = #{isDeleted,jdbcType=CHAR}
          , SIGNATURE  = #{signature,jdbcType=VARCHAR}
          , BIRTHDAY   = #{birthday,jdbcType=TIMESTAMP}
          , GMT_MODIFY = #{gmtModify,jdbcType=TIMESTAMP}
        WHERE UID = #{uid,jdbcType=VARCHAR}
          AND USER_NAME = #{userName,jdbcType=VARCHAR}
          AND NICK_NAME = #{nickName,jdbcType=VARCHAR}
        ]]>
    </update>

    <!--根据唯一约束UidName删除数据:base_user  mydalgen自动生成，请勿修改-->
    <delete id="deleteByUidName">
        <![CDATA[
        DELETE /*MS-BASE-USER-DELETEBYUIDNAME*/
        FROM base_user
        WHERE UID = #{uid,jdbcType=VARCHAR}
          AND USER_NAME = #{userName,jdbcType=VARCHAR}
          AND NICK_NAME = #{nickName,jdbcType=VARCHAR}
        ]]>
    </delete>

    <!--根据唯一约束UidName获取数据:base_user  mydalgen自动生成，请勿修改-->
    <select id="getByUidName" resultMap="BaseResultMap">
        SELECT /*MS-BASE-USER-GETBYUIDNAME*/
        <include refid="Base_Column_List"/>
        FROM base_user
        WHERE
        <![CDATA[
            UID             = #{uid,jdbcType=VARCHAR}
            AND USER_NAME       = #{userName,jdbcType=VARCHAR}
            AND NICK_NAME       = #{nickName,jdbcType=VARCHAR}
        ]]>
    </select>
</mapper>
